.cards {
	@apply relative
	border
	border-neutral-200
	dark:border-neutral-700
	rounded-md
	overflow-hidden
	bg-white
	dark:bg-neutral-800
	hover:border-orange-500;

	:hover h2{
		@apply text-orange-600;
	}
}
